* {
	font-family: Arial;
	font-size: 12px;
	color: #000;
	line-height: 18px;
	margin: 0px;
	padding: 0px;
	border: 0px;
}
#holder {
	width: 100%;
	background: #ffea00;
}
#top {
	position:relative;
	left: 50%;
	margin: 0 0 0 -502px;
	background: #fff;
	height: 136px;

}
#top img {
	float:left;
	display:block;
}
a {
	text-decoration: underline;
}
a:hover {
	text-decoration:none;
}
#right_top {
	margin-left: 20px;
}

.kod, .kod a {
	color:#f1873e;
	font-size:14px;
	font-weight:900;
	}

.kod a:hover{
        text-decoration:none;
	}

.tel {
	color:#ef7420;
	font-size:20px;
	font-weight:900;
	}

#top_menu {
	width:1004px;
	height:74px;
	margin: 0 auto;
	text-align:left;
}

#img_menu {
	float:left;
	margin-left:8px;
}

#ic_menu {
	padding-left:26px;
	padding-top:24px;
	float:left;
}

#ic_menu div, #ic_menu a {
	float:left;
	display: block;
	background:url(/design/knopka_top.gif) no-repeat;
	width:112px;
	height:33px;
	text-align:center;
	padding:8px 0 0 0;
	margin-right: 2px;
	text-decoration: none;
	font-weight:900;
	font-size:11px;
	text-transform: uppercase;
}

*html #ic_menu div, #ic_menu a {
	margin-right: 1px;
}

#ic_menu a:hover {
	color:#ed1c24;
}

#ic_menu a.a{
	color:#ed1c24;
}

#right_menu {
	float:left;
	padding:27px 0 0 0;
	margin:0 0 0 26px;
}

#main {
	width:1004px;
	text-align:left;
	padding-left:8px;
}

#left_col {
	float:left;
	width:210px;
}

* html #left_col {
	width:205px;
}

#left_col a,#left_col div.a {
	display: block;
	background:url(/design/knopka_left.gif) no-repeat;
	width:180px;
	height:28px;
	text-align:center;
	padding:8px 0 0 0;
	text-decoration: none;
	font-weight:900;
	font-size:11px;
	text-transform: uppercase;
	margin:0 0 5px 0;
}
#left_col a.a {
	color: #ed1c24;
}
* html #left_col a,* html #left_col div.a {
	height:36px;
}

#left_col a:hover {
	color:#ed1c24;
}

#left_col a div.a {
	color:#ed1c24;
}

#content {
	float:left;
	width:563px;
padding-right: 30px;
}

#content a:hover {
	color:#ed1c24;
}

#content a {
	color:#ed1c24;
}


* html #content {
	width:588px;
}

#content img {
	border:0;
	}

#content .text {
	padding-top:23px;
}

#content .title {
	font-size:28px;
	color:#ed1c24;
	margin-bottom: 15px;
line-height: 30px;
}

#news {
	margin-top:16px;
	text-align:left;
	}

#news .new_img {
	width: 64px;
	float:left;
}

#news .new_text {
	width:500px;
	float:left;
	padding-left:10px;
	padding-bottom:30px;
	text-align:left;
	}

.new_title {
	color:#ed1c24;
	font-weight:900;
}

#right_col {
	float:left;
}

.pan {
	color:#4d4c4c;
	font-size:11px;
	padding-top: 17px;
}

#foot {
	position:relative;
	z-index:1;
}

#md {
  height: 71px;
  background: #ffd321 url(/design/footer.jpg) no-repeat;
  padding-left: 35px;
  padding-top: 17px;
}
#md a.img {
	float:left;
	margin-right: 5px;
}

#md a {
	color:#fff2bd;
	font-size:11px;
	text-decoration:underline;
}
#md a:hover {
	color:#fff2bd;
	text-decoration:none;
}

.cat_title {
	font-szie: 14px;
	color: red;

}

ul.catalog {
	margin: 10px 20px;
}
* html ul.catalog {
	margin: 10px 14px;
}
ul.catalog li {
	list-style: url(/design/li.jpg);
	margin: 10px 0px;
}
* html ul.catalog li {
	list-style: url(/design/li.jpg);
	padding-left: 5px;
}
ul.catalog li a {
	font-size: 14px;
	text-decoration:none;
}

 #validEmail
 {
 margin-top: 4px;
 margin-left: 9px;
 position: absolute;
 width: 16px;
 height: 16px;
}
