<div id="category{ID}" onMouseOver="highlight(this, 'active')" onClick="pressElement(this.id)" rel="{HTTP_ROOT}{MODULE}/category{ID}">
	<div class="elem"><img src="{HTTP_ROOT}design/dir.gif"></div>
	<div class="elem" align=center>{TITLE}</div>
</div>