<div id="item{ID}" onMouseOver="highlight(this, 'active')" onClick="pressElement(this.id)" rel="{HTTP_ROOT}{MODULE}/item{ID}">
<!--	<div class="elem"><img src="{IMG_PATH}{IMG_NAME}.jpg"></div> -->
	<div class="elem">{TITLE}</div>
</div>

