<div id="id{ID}" class="elem_tr" onMouseOver="highlight(this, 'active')"  onClick="pressElement(this.id)" onDblCLick="go('{HTTP_ROOT}{MODULE}/album{ID}')">
    <div class="elem"><img src="{HTTP_ROOT}design/menu.gif"></div>
	<div class="elem">{MODULE_NAME} -> {PAGE_NAME}</div>
</div>