<div class="mod">
<a class=mod href="{HTTP_ROOT}{TREE_PATH}/" id="{ID}" onMouseOver="show(document.getElementById('p_{ID}'))"  onMouseOut="hide(document.getElementById('p_{ID}'))">{TITLE}</a>
<img src="{HTTP_ROOT}/design/point.jpg" id="p_{ID}" style="display:none;">
</div>