* {
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-family: Tahoma,Arial,Times New Roman;
	font-size: 11px;
}

body {

}
a {	text-decoration:none;
	color: #4cb6db;
	font-weight: 900

}
a:hover {
	text-decoration:undeline;
	color: #e50000;

}


/***********************************************************

DESIGN

************************************************************/
#top_line
{
	height: 15px;
	width: 100%;
	background: #000000;
}
#top
{

	width: 100%;
	background: url(../design/top02.jpg);
}
#top #help
{
	float: right;
	margin: 132px 20px 0px 0px;
        color: #ffffff;
}

#top #help img
{
	width: 5px;
	height: 5px;
	margin: 0px 7px 3px 5px;
}
#top #help a
{
	color: #FFFFFF;
	font-size: 11px;
	text-decoration: none;
}
#top_line_
{
	width: 100%;
	text-align: right;
}
#top_line_ img { margin-right: 100px }


#bottom
{
	border-top: 1px solid #000000;
}
#bottom #first
{
	width: 33%;
	display:inline;
}
#bottom #second
{
	width: 33%;
	background:#000000;
	color: #ffffff;
}
#bottom #third
{
	width: 33%;
	background:#C80101;
	color: #ffffff;
}
#actions {
	margin-right: 40px;

}
#middle {
	clear:both;
	margin: 0px 30px;

}
#middle h1 {
	font-size: 22px;
	font-weight: 400;

}
#main_table {
	clear:both;
 	border-collapse: collapse;
 	margin: 5px 0px;
}
#main_table tr {
	height: 40px;

}
#main_table th {
	padding: 0px 5px;
	background: #00414B;
	text-align: center;
	height: 40px;
	border: 1px solid #00697A;
	color: #ffffff;
}
#main_table td {
	text-align: center;
	border: 1px solid #97CFD8;
	height: 40px;
	padding: 0px 5px;
}
#main_table td .odd {
	background: #D8FAFF;
}
#top_page {
    text-align: center;
    height: 50px;
    background: url(../design/back01.jpg);
    border: 1px #88B6D1 solid;
    padding: 0px 15px;
    float:right;

}

#top_page img {
    position:relative;
    top: 10px;


}

#page_action {
   float:right;
   margin-top: 8px;
   margin-right: 15px;

}



/*==================================================================
NAVIGATION
==================================================================*/

a:visited {
          border: 0px;

}
div.navigation {
	margin: 10px;
}
a.nav {
	color: #999999;
	font-size: 12px;
	text-decoration: none;
}
a.nav:hover {
	font-size: 12px;
	font-weight: 900;
	color: #000000;
	text-decoration: underline;
}
div.nav {
	border: 1px solid #ffffff;
	width: 18px;
	padding: 0px 3px 0px 3px;
	float:left ;
	margin: 0px 4px;
	text-align:center;
	color: #888888;
	cursor: pointer;
}
div.nav_cur {
	border: 1px solid #990000;
	width: 18px;
	padding: 0px 3px 0px 3px;
	float:left ;
	margin: 0px 4px;
	text-align:center;
	color: #000000;
	cursor: auto;
}

a.red {
	font-size: 8pt;
	color: red;
}
a.red:hover {
	text-decoration: underline;
}

#content {
	clear:both;
}


input.elem {
	width: 100%;
	height: 16px;
	border: 1px solid #00404A;
	text-align: center;
	vertical-align: middle;
	clear: both;
}


textarea.elem {
	width: 100%;
    border: 1px solid #00404A;
    text-align: center;
	vertical-align: middle;
}

select.elem {
	width: 100%;
    border: 1px solid #00404A;
    text-align: center;
	vertical-align: middle;
}
.dialog_text {
	color: #444444;
	margin: 4px;
}
.edit_elem {

}
input.submit {	padding: 3px 5px;
	border: 1px #b50000 solid;
	background: #fff;
	color: #000;
}
a.action, img.action {
          cursor: pointer;
}
/* DATE PICKER */
input.elemDate,input.elemDateInstall  {
	width: 70px;
	height: 16px;
	border: 1px solid #00404A;
	text-align: center;
	vertical-align: middle;
}



/*img.dp-choose-date-img {
	margin-top: 15px;
}*/
a.dp-choose-date.dp-disabled {
	background-position: 0 -20px;
	cursor: default;
}

#new_ {
	width :90%
}



#new_ input,select {
	width: 90%;
	height: 16px;
	border: 1px solid #aaaaaa;
}
#new_ textarea {
	width: 90%;
	height: 80px;
	border: 1px solid #aaaaaa;
}

.addPage {
	background: url(../design/addpage.jpg);
	display: none;
    padding-left: 5px;
    border: 1px solid #000000:
}
.addPage h1 {
	font-size: 20px;
	padding-top: 20px;
 	padding-bottom: 20px;
 	font-weight :400;
 	color: #444444;

}

table#instDay {
	width: 500px;
}

table#instDay th {
 	background: #00414B;
	text-align: center;
	height: 20px;
	border: 1px solid #00697A;
	color: #ffffff;

}

table#instDay td {
 	text-align: center;
	border: 1px solid #97CFD8;
	height: 40px;
	padding: 0px 5px;
	cursor: default;

}



.date {
	width: 70px;
	height: 16px;
	border: 1px solid #00404A;
	text-align: center;
	vertical-align: middle;

}


#caution {
	height: 50px;
	background: #FDF27C;
	margin: 10px 0px;
	color: #000000;
	font-size: 17px;
 	border: 1px solid #FDD17C;

}




#additionalTitle {
font-size: 14px;
font-weight: 400;
}



#window
{
	position: absolute;
	left: 200px;
	top: 100px;
	width: 700px;
	height: 500px;
	overflow: hidden;
	display: none;
}
#windowTop
{
	height: 30px;
	overflow: 30px;
	background-image: url(../design/window_top_end.png);
	background-position: right top;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
	cursor: move;
}
#windowTopContent
{
	margin-right: 13px;
	background-image:url(../design/window_top_start.png);
	background-position:left top;
	background-repeat: no-repeat;
	overflow: hidden;
	height: 30px;
	line-height: 30px;
	text-indent: 10px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #6caf00;
}
#windowMin
{
	position: absolute;
	right: 25px;
	top: 10px;
	cursor: pointer;
}
#windowMax
{
	position: absolute;
	right: 25px;
	top: 10px;
	cursor: pointer;
	display: none;
}
#windowClose
{
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
}
#windowBottom
{
	position: relative;
	height: 270px;
	background-image: url(../design/window_bottom_end.png);
	background-position: right bottom;
	background-repeat: no-repeat;
}
#windowBottomContent
{
	position: relative;
	height: 270px;
	background-image: url(../design/window_bottom_start.png);
	background-position: left bottom;
	background-repeat: no-repeat;
	margin-right: 13px;
}
#windowResize
{
	position: absolute;
	right: 3px;
	bottom: 5px;
	cursor: se-resize
}
#windowContent
{
	position:absolute;
	top: 30px;
	left: 10px;
	width: auto;
	height: auto;
	overflow: auto;
	margin-right: 10px;
	border: 1px solid #6caf00;
	height: 255px;
	width: 675px;
	font-size: 11px;
	background-color: #fff;
}
#windowContent *
{
	margin: 10px;
}
.transferer2
{
	border: 1px solid #6BAF04;
	background-color: #B4F155;
	filter:alpha(opacity=30);
	-moz-opacity: 0.3;
	opacity: 0.3;
}
