<tr><td colspan=2 height="10"></td></tr>
<tr valign=top align=left>
	<td style="padding-right: 10px">{IMG}</td>
	<td>
		<a href="{HTTP_ROOT}{MODULE}/item{ID}" class=cat_title>{TITLE}</a>
		<div class=text>{TEXT}</div>
	</td>
</tr>
<tr><td colspan=2 height="10"></td></tr>
