<table id="news"><tr valign=top>
	<td style="padding-right: 10px"><img src="{HTTP_ROOT}design/new_img.jpg" width="64" height="64"></td>
	<td> <span class="new_title">{TITLE}</span><br>
  {STEXT}&nbsp;&nbsp;{LINK}</td>
</tr>
</table>
