<tr id="{ID}" class="edit_elem">
	<td><input name="print" type="checkbox" value="{ID}"></td>
 	<td name="date" type="dateCalc">
 		<div id="date_">{DATE}</div>
 		<div id="timeCalcCont{ID}">{TIME}</div>
 	</td>

	<td rest='true' name="oper" type="enum">{OPER}</td>
	<td rest='true' name="spec" type="enum">{SPEC}</td>

	<td rest='true'  name="client" type="text">{CLIENT}</td>

	<td rest='true' name="punkt" type="enum">{PUNKT}</td>
	<td rest='true' name="raion" type="enum">{RAION}</td>
	<td rest='true' name="street" type="text">{STREET}</td>
	<td rest='true' name="house" type="text">{HOUSE}</td>
	<td rest='true' name="kvar" type="text">{KVAR}</td>
	<td rest='true' name="pod" type="text">{POD}</td>
 	<td rest='true' name="etag" type="text">{ETAG}</td>
  	<td rest='true' name="num" type="text">{NUM}</td>
   	<td rest='true' name="old" type="enum">{OLD}</td>

    <td rest='true' name="tel1" style="display:none" type="text">{TEL1}</td>
	<td rest='true' name="tel2" style="display:none" type="text">{TEL2}</td>
    <td rest='true' name="tel3" style="display:none" type="text">{TEL3}</td>

	<td rest='true' name="comment" type="textarea">{COMMENT}</td>
	<td rest='true' name="u_place" type="enum">{U_PLACE}</td>
	<td name="u_id" type="text" style="display:none">{U_ID}</td>
	<td name="u_date" type="text" style="display:none">{U_DATE}</td>
	<td>{U_NAME}</td>
	<td>{U_DATE}</td>
	<td id="actions{ID}">{ACTIONS}</td>
</tr>