<tr id="{ID}" class="edit_elem">
	<td name="date_inst" type="dateInstall">{DATE_INST}</td>
	<td name="offer" type="text">{OFFER}</td>
	<td name="date_of" type="date">{DATE_OF}</td>
	<td name="client" type="text">{CLIENT}</td>
	<td name="mat" type="enum">{MAT}</td>
	<td name="price_inst"  type="text">{PRICE_INST}</td>
	<td name="comment_inst" type="textarea">{COMMENT_INST}</td>
	<td id="actions{ID}">{ACTIONS}</td>
</tr>