<tr id="{ID}" class="edit_elem">
	<td rest='true' name="offer" type="text">{OFFER}</td>
	<td rest='true' name="date_of" type="date">{DATE_OF}</td>
	<td rest='true' name="date_inst" type="dateInstall">{DATE_INST}</td>
	<td rest='true' name="client" type="text">{CLIENT}</td>
	<td rest='true' name="mat" type="enum">{MAT}</td>
	<td rest='true' name="price" type="text">{PRICE}</td>
	<td rest='true' name="stage" type="enum">{STAGE}</td>
	<td rest='true' name="comment" type="textarea">{COMMENT}</td>
	<td rest='true' name="u_place" type="enum">{U_PLACE}</td>
	<td rest='true' name="wh" type="enum">{WH}</td>
	<td style="display:none" name="u_id" type="text">{U_ID}</td>
	<td>{U_NAME}</td>
	<td>{U_DATE}</td>
	<td rest='true' name="price_inst" style="display:none" type="text">{PRICE_INST}</td>
	<td rest='true' name="comment_inst" style="display:none" type="text">{COMMENT_INST}</td>
	<td id="actions{ID}">{ACTIONS}</td>
	<td rest='true' name="u_date" style="display:none" type="text">{U_DATE}</td>
</tr>