<tr id="{ID}" class="edit_elem">
	<td rest='true' name="name" type="text">{NAME}</td>
    <td rest='true' name="login" type="text">{LOGIN}</td>
    <td rest='true' name="pass" type="text">{PASS}</td>
	<td id="actions{ID}">{ACTIONS}</td>
</tr>