<div id="{ID}" onmouseover="highlight(this, 'active')" onclick="pressElement('{ID}')" rel="{HTTP_ROOT}{MODULE}/answer{ID}">
	<div class="elem"><img src="{HTTP_ROOT}design/file.gif"></div>
	<div class="elem">{TITLE} - {NUM}</div>
</div>