<tr valign=middle><td align=left height=17>

<table cellpadding=0 cellspacing=0><tr valign=top>
	<td><img src="{HTTP_ROOT}/design/me{POS}.jpg"></td>
	<td class="menu">{TITLE}</td>
	<td></td>
</tr></table>

</td></tr>