<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
<link rel="stylesheet" type="text/css" rev="stylesheet" href="{HTTP_ROOT}css/style.css">
<link rel="stylesheet" type="text/css" rev="stylesheet" href="{HTTP_ROOT}css/thickbox.css">
<title>EWF</title>
<script language="javascript">AC_FL_RunContent = 0;</script>
<script src="{HTTP_ROOT}scripts/flash.js" language="javascript"></script>
<script src="{HTTP_ROOT}scripts/jquery.js" language="javascript"></script>
<script src="{HTTP_ROOT}scripts/thickbox.js" language="javascript"></script>
</head>
<body>
<div id="language">RUS / <a href="#" class="lang">ENG</a> / <a href="#" class="lang">DE</a></div>
<div id="content_">
	<div id="left">
        {MENU}
	</div>	<div id="right">
		<div id="title">{PAGE_TITLE}</div>
		<div id="text">{PAGE_CONTENT}</div>
	</div>
</div>
<div id="background">
	<script type="text/javascript">
	AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0','width','100%','height','100%','id','site','align','middle','src','{HTTP_ROOT}design/site','quality','high','wmode','opaque','name','site','allowscriptaccess','sameDomain','allowfullscreen','false','pluginspage','http://www.macromedia.com/go/getflashplayer','movie','{HTTP_ROOT}design/site' ); //end AC code
	</script>
</div>


<div id="text_background">
	<script type="text/javascript">
	AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0','width','100%','height','100%','id','index','align','middle','src','{HTTP_ROOT}design/index_','quality','high','wmode','transparent','name','index','allowscriptaccess','sameDomain','allowfullscreen','false','pluginspage','http://www.macromedia.com/go/getflashplayer','movie','{HTTP_ROOT}design/index_' ); //end AC code
	</script>
</div>


</body>
</html>

<script>
function update() {
	var de = document.documentElement;
	var h = window.innerHeight || self.innerHeight || (de&&de.clientHeight) || document.body.clientHeight;
	var h_ = h*0.6
	$('#text').css({height: h_})

}

window.onresize = function() {
	update()
}
update()

</script>
