	<div id="top_line_"><img src="design/top_line_.jpg"></div>
	<div id="middle">
		<h1>{PAGE_TITLE}<span id="loader"></span></h1>

	    <div>
	    		<div id="top_page">{TOP_PAGE}</div>
                <span id="page_action">{PAGE_ACTION}</span>

	    </div>
     	<div style="clear:both"></div>
		<div id="content"></div>
	</div>
</td></tr></table>
<!-- END OF PAGE.HTML -->
