<table celapdding=0 cellspacing=0 width="100%" height="100%"><tr valign=top>
<td width="80px" style="background: url(./design/l_.jpg) repeat-y right top">
	<table cellpadding=0 cellspacing=20>
                <tr><td><a href="./"><img src="design/index.png"></a></td></tr>
                <tr><td><a href="install.php"><img src="design/install.png"></a></td></tr>
                <tr><td><a href="calculate.php"><img src="design/calculate.png"></a></td></tr>
                <tr><td height=15px></td></tr>
                <tr><td><a href="logout.php"><img src="design/logout.png"></a></td></tr>
	</table>
</td>
<td height=100%>