<td style="margin: 10px 0px">
	<div><a href="{HTTP_ROOT}gallery/album{ID}"><img width=150 src="{PREV}"></a></div>
	<div style="text-align: center">
		<a href="{HTTP_ROOT}gallery/album{ID}">{TITLE}</a>
	</div>
</td>
