
<tr class=guest><td align=left width="115">{DATE}</td><td align=left><b>{NAME}</b>, {AGE}</td><td>E-mail: <a href="mailto:{MAIL}" class=mail>{MAIL}</a></td></tr>
<tr class=guest><td  colspan=3 align=left>{TEXT}</td></tr>
<tr><td  colspan=4 height=10 align=left>&nbsp;</td></tr>
