<div class="vote" id="vote{ID}">
	<div class=""></div>
	<div class="voteTitle">{TITLE}</div>
	<div id="voteResult">
		<table cellpadding=0 cellspacing=0>
			{ANSWERS}
		</table>
	</div>
	<img class="submitVote" id="submit{ID}" src="{HTTP_ROOT}design/vote.jpg">
</div>