<div class="vote" id="vote{ID}">
	<div class="voteTitle">{TITLE}</div>
	<div id="voteResult" width=100% >
		<table class="voted" width=220px cellpadding=0 cellspacing=0>
		{ANSWERS}
		</table>
	</div>
	<div class="text">{TEXT}</div>
</div>