/* CSS Document */
* {
	font-family:  Tahoma, Arial;
	margin: 0px;
	padding: 0px;
	font-size: 11px;
	font-weight: 900;
	text-transform: uppercase;
}
body {
	background: #ffffff;
}

.input_text {
	width: 70px;
	padding: 2px 0px 2px 0px;
	color: #ffffff;
	background: #CF320F;


	text-align: center;

	border: 1px solid #7C7C7C;
	border-bottom: 0px;

}
input {
 	border: 1px solid #7C7C7C;;
	background: #ffffff;
	text-transform: none;
	font-weight:400;
	width: 150px;
	margin: 0px 0px 8px 0px;
	height: 20px;
}

.active {
	border: 3px  solid  #AC0000;
}
a {
	color: #000000;
	text-decoration: none;
}

input.submit {	border: 0px;

}