@charset "windows-1251";

body {
	margin: 0pt;
	padding: 0pt;
	font-size: 10pt;
	font-family: Tahoma, Arial, Times New Roman, Verdana;
	background: #ffffff;
	color: #000000;

}
#wysiwyg {
    margin: 0pt;
	padding: 0pt;
	font-family: Tahoma, Arial, Times New Roman, Verdana;
	background: #ffffff;
	color: #000000;
}
iframe {
	border: 1px solid #000000;
	scrollbar-face-color: #000000;

}

table {
	margin: 0pt;
	padding: 0pt;
	border: 0pt;
	border-collapse:: 0px;
	font-family: Tahoma, Arial, Times New Roman, Verdana;
	font-size: 10pt;
 	color: #000000;
}

img {
	border: 0pt;

}
a {
	color: #444444;
	font-size: 10pt;
	font-family: Tahoma, Arial, Times New Roman, Verdana;
	text-decoration: none;

}
a:hover {
	color: #000000;
	font-size: 10pt;
	text-decoration: none;
}
td.menu {
	color: #000000;
	font-size: 10pt;
	text-transform: lowercase;
}
td.menu:first-letter {
	text-transform: uppercase;
}
a.menu {
	color: #990000;
	font-size: 10pt;
	text-decoration: none;
	text-transform: lowercase;
	first-letter: uppercase;

}
a.menu:hover {
	text-decoration: underline;
}
/*==================================================================
MODULES
==================================================================*/
#modules {
	 color: #990000;
	 font-weight: 900;
	 border: 1px dashed #BABABA;
	 padding: 5px;
	 margin: 10px;
}
div.mod {
	color: #000000;
	font-size: 10pt;
	text-transform: lowercase;
}
a.mod {
	color: #1A1A1A;
	font-weight: 400;
	font-size: 10pt;
	text-decoration: none;
	text-transform: lowercase;
	first-letter: uppercase;

}
a.mod:hover {
	text-decoration: underline;
}
.mod_active {
	background: #EEEEEE;
}

/*==================================================================
NAVIGATION
==================================================================*/
a.nav {
	color: #999999;
	font-size: 12px;
	text-decoration: none;
}
a.nav:hover {
	font-size: 12px;
	font-weight: 900;
	color: #000000;
	text-decoration: underline;
}
div.nav_a {
	border: 1px solid #990000;
	width: 18px;
	padding: 0px 3px 0px 3px;
	margin: 0px 2px 0px 2px;
	text-align:center;
	display: inline;
	text-align: center;

}



a.red {
	font-size: 8pt;
	color: red;
}
a.red:hover {
	font-size: 8pt;
	color: red;
	text-decoration: underline;
}


#preload {
	position: absolute;
	z-index: 1;
	width:100%;
	height: 100%;
}
#content {
    position: absolute;
	z-index: 0;
	filters: alpha(opacity=50)
	opacity: 50;
}
#help {
   position: absolute;
   z-index:10;
   background: #FFFFD6;
   color: #000000;
   padding: 5px 10px 5px 10px;
}

.black {
	background: #000000;
	color: #ffffff;
}
.white {
	background: #ffffff;
	color: #000000;
}
.users {
	font-size: 8pt;
	background: #000000;
	color: #ffffff;
	padding-left: 35px
}
#page_title {
	font-size: 10pt;
	text-transform: uppercase;
	color: #000000;
	font-weight: 900;
	margin-top: 10px;
	margin-bottom: 15px;
}
.cprt {
	font-size: 8pt;
}

table.error {
	background: #cacaca;
	margin-bottom: 20px;

}
.error_txt {
	font-size:12px;
	color: #990000;
}
div.error_txt {
	font-size:10px;
	color: #990000;
}

/*==================================================================
FORMS
==================================================================*/
input {
	color: #2c2c2c;
	border: 1px solid #8d8d8d;

}
input.submit {
	border: 1px solid #9e0102;
	background: #ffffff;
	color: #000000;
	cursor: hand;
}
input.dis_submit {
	border: 1px solid #cacaca;
	background: #ffffff;
}
select {
	font-size:12px;
	border: 1px solid #000000;
}
textarea {
	font-size:12px;
	color: #00319f;
}
input[type=radio]  {
	color: #ffffffc;
	border: 0px;

}
optgroup {
	color: #000000;
	margin: 10px;
}
/*==================================================================
ROLLOVER
==================================================================*/
.active {
	color: #000000;
	background: #E2F3FF

}
.pressed {
	color: #000000;
	background: #8BB9D7;
}

/*==================================================================
SECTIONS
==================================================================*/
div.section {
	display:block;
	margin: 10px;
	width: 700px;
	border: 1px solid #cccccc

}
div.sectionHeader {
	display:block;
	width: 100%;
	background: #191919;
	vertical-align:middle;
}
div.sectionMame {
	float:left;
	font-size: 12px;
	font-weight: 900;
	color: #ffffff;
	margin:15px 0px 0px 10px;
}
div.sectionHelp{
	float: left;
    height: 15px;
	margin:10px 0px 0px 3px;

}
div.sectionActions{
	float:right;
    height: 15px;
}
div.sectionActions .ifExPr{
	display: inline;
	float:right;
	filters: alpha(opacity=20);

}
.sectionEpmty {   width: 100%;
   text-align:center;
   padding: 10px;

}
div.section .elem {
	display:inline;
	height: 22px;
	line-height: 30px;
	text-align: center;
	vertical-align: middle;
	padding: 5px;
}
div.section .elem-right {	position: relative;
	top: -40px;
	float: right;
	height: 22px;
	line-height: 30px;
	text-align: center;
	vertical-align: middle;
	padding: 5px;
}


/*--------------------------*/
div#doc_tree_path {
	font-size:8pt;
	color: #999999;
	overflow: auto;
}
table.section {
	margin:10px;
}


div.contBlock {
	width: 800px;
	display: block;
	border: 1px solid #9F9F9F;
	padding:10px 10px 20px 10px;
	text-align: center;
	clear: both;
	background: #FAFAFA;

}
div.contTitle {
	display: block;
    font-size: 10pt;
    font-weight: 900;
    margin: 10px 0px 10px 0px;;
}
div.contMenuActive {
	height: 20px;
	padding: 2px 10px 2px 10px;
	background: #FFA44B;
	border: 1px solid #ffffff;
	border-bottom: 5px solid #990000;

	display: inline;
	font-weight: 900;
	color: #000000;
	font-size: 10pt;
}
div.contMenu {
	height: 18px;
	display: inline;
	padding: 2px 10px 2px 10px;
	margin-top: 5px;
	background: #999999;
	border: 1px solid #222222;
	font-weight: 900;
	color: #ffffff;
	font-size: 10pt;
	cursor: hand;
}
div.contMenuHover {
	height: 18px;
	display: inline;
	padding: 2px 10px 2px 10px;
	margin-top: 5px;
	background: #aaaaaa;
	border: 1px solid #222222;
	font-weight: 900;
	color: #ffffff;
	font-size: 10pt;
	cursor: hand;
}
div.wysywig {
	width:100%;
	text-align:center;
}

