
table.jCalendar {
	width: 100%;
	text-align:center;
	background: url(/design/cal_back.jpg) repeat-x;
}
table.jCalendar th {
	background: #00414B;
	color: #fff;
	font-weight: bold;
	padding: 10px 10px;
}
table.jCalendar td {
	background: #ffffff;
	color: #000;
	padding: 10px 10px;
	text-align: center;

}
table.jCalendar td.other-month {
	background: #FEFDE4;
	color: #086675;
}
table.jCalendar td.today {
	background: red;
	color: #fff;
}
table.jCalendar td.selected {
	background: #f66;
	color: #fff;
	cursor: default;
}


table.jCalendar td:hover, table.jCalendar td.dp-hover {
	background: #C1FFCA;
	color: #000;
}


table.jCalendar td.selected:hover {
	background: #f66;
	color: #fff;

}
table.jCalendar td.disabled, table.jCalendar td.disabled:hover {
 filter:alpha(opacity=30);
	-moz-opacity: 0.30;
	opacity: 0.30;
	background: #fff;
	color: #000;
	filter: opacity('alpha=10');
}

/* For the popup */

/* NOTE - you will probably want to style a.dp-choose-date - see how I did it in demo.css */

div.dp-popup {
	position: relative;
	background: #ffffff;
	font-size: 10px;
	font-family: arial, sans-serif;
	padding: 2px;
	width: 305px;
	line-height: 20px;
}
div#dp-popup {
	position: absolute;
	z-index: 199;
	/*border: 2px #028195 solid;*/
}
div.dp-popup h2 {
	font-size: 12px;
	text-align: center;
	margin: 2px 0;
	padding: 0;
}
a#dp-close {
	font-size: 11px;
	padding: 4px 0;
	text-align: center;
	display: block;
}
a#dp-close:hover {
	text-decoration: underline;
}
div.dp-popup a {
	color: #000;
	text-decoration: none;
	padding: 3px 2px 0;
}
div.dp-popup div.dp-nav-prev {
	position: absolute;
	top: 2px;
	left: 4px;
	width: 100px;
}
div.dp-popup div.dp-nav-prev a {
	float: left;
}
/* Opera needs the rules to be this specific otherwise it doesn't change the cursor back to pointer after you have disabled and re-enabled a link */
div.dp-popup div.dp-nav-prev a, div.dp-popup div.dp-nav-next a {
	cursor: pointer;
}
div.dp-popup div.dp-nav-prev a.disabled, div.dp-popup div.dp-nav-next a.disabled {
	cursor: default;
}
div.dp-popup div.dp-nav-next {
	position: absolute;
	top: 2px;
	right: 4px;
	width: 100px;
}
div.dp-popup div.dp-nav-next a {
	float: right;
}
div.dp-popup a.disabled {
	cursor: default;
	border: 1px solid #aaaaaa;
}
div.dp-popup td {
	cursor: pointer;
}
div.dp-popup td.disabled {
	cursor: default;
}