/* CSS Document */
* {
	font-family:  Tahoma, Arial;
	margin: 0px;
	padding: 0px;
	font-size: 11px;
	font-weight: 900;
}
body {
	background: #ffffff;
}

.input_text {
	width: 70px;
	padding: 2px 0px 2px 0px;
	color: #ffffff;
	background: url(../design/login.jpg) no-repeat;
	text-align: center;
	border: 1px solid #01759D;
	border-bottom: 0px;

}
input {
 	border: 1px solid #7C7C7C;;
	background: #ffffff;
	text-transform: none;
	text-align: center;
	font-weight:400;
	width: 150px;
	margin: 0px 0px 8px 0px;
	height: 20px;
}

.active {
	border: 1px  solid  #007DA9;
	background: #ABE9FF;
}
a {
	color: #000000;
	text-decoration: none;
}

input.submit {
	border: 0px;

}