body,td,select {
	font-family: Tahoma,Verdana,Sans-serif;
	font-size:11px;
	font-weight: 400;
}
body.dialog {	background: #7998bb;
}
body.source {
	font-family: Tahoma,Verdana,Sans-serif;
	font-size:12px;
	font-weight: 400;
	color : #2d4a6e;
	margin: 0px;
	padding: 0px;
	background: #7998bb;
}
h5 {	font-size: 11pt;
	margin: 0pt;
	padding: 0pt;
}
table.pic_act {
	background: #eeeeee;	border: 1px solid #002e8d;
	border-top:8px solid #002e8d;
	margin-top: 10px;
}
table.dialog_table {
	background:#eeeeee;
	border:1px solid #002e8d;
}
table.str {	background: #fbff90;
}
tr.t_a_p {	background: #eeeeee;
}

td.str_num {	width: 30px;
	height: 12px;
	font-size: 20px;
	color: #000000;
	background: #fbff90;
}
td.tree {	font-size:10px;
	color:002e8d;
	height:12px;
}
span.html_header {

}
td.tool {
	font-size:12px;
	cursor:hand;
	width:25px;
	height: 22px;
	background: #eeeeee
}
td.c_td {	padding: 4px;	padding-left: 15px;
	border: 1px solid #3b72b4;
	border-top: 0px;
	background: #f7f7f7;
}
td.c_under_td {	font-size: 11pt;
	padding: 4px;
	border: 1px solid #3b72b4;
	border-bottom: 0px;
	background: #f7f7f7;
}



.tool_rollout {	background:#eeeeee;
	border:1px Solid  #eeeeee;
	cursor:hand;}
.tool_rollover {
	background:#ccccd8;
	border:1px Solid  #2b2b69;
	cursor:hand;
}
.tool_pressed {
	background:#b3b3cf;
	border:1px Solid #000080;
	cursor:hand;
}
.tool_pressed_rollover {
	background:#a0a0ce;
	border:1px Solid #2b2b69;
	cursor:hand;
}
.tool_disabled {
	background:#eeeeee;
	filter:alpha(opacity=50);
}
.img_rollover {
	background:#fffff3;
	border:1px dashed  #2b2b69;
	padding:1px;
	cursor:hand;
}
.img_rollout {
	border:1px dashed  #dddddd;;
	padding:1px;
	cursor:hand;
}
.img_pressed {
	background:#325072;
	border:2px Solid #1a3f69;
	cursor:hand;
	color: #ececec
}
.img_pressed_rollover {
	background:#1a3f69;
	border:2px Solid #073971;
	cursor:hand;
	color: white
}

.file_rollover {
	background:#fffff3;
	border:1px dashed  #2b2b69;
	padding:1px;
	cursor:hand;
}
.file_rollout {
	border:1px dashed  #dddddd;;
	padding:1px;
	cursor:hand;
}
.file_pressed {
	background:#325072;
	border:2px Solid #1a3f69;
	cursor:hand;
	color: #ececec
}
.file_pressed_rollover {
	background:#1a3f69;
	border:2px Solid #073971;
	cursor:hand;
	color: white
}
.c_rollover {	cursor:hand;
	width:15px;
	height: 15px;
	border:1px solid  #aaaaaa;
	padding:10px;
}
.c_rollout {	cursor:hand;
	width:15px;
	height: 15px;
	border:1px solid  #dddddd;;
	padding:10px;
}
.c_pressed {
	cursor:hand;
	width:15px;
	height: 15px;
	border:3px double #000000;
	cursor:hand;
}
.c_pressed_rollover {	cursor:hand;
	width:15px;
	height: 15px;
	border:1px solid #444444;
	cursor:hand;
}

div.menu {
	background: #eeeeee;
	position:relative;
	width: 100%;
	border: 1px solid #203154;
	border-top: 8px solid #203154;
	z-index:0;
}

div.nomenu {
	background: #eee;
	opacity: 0.8;
	position:relative;
	width: 100%;
	font-family: Tahoma,Verdana,Sans-serif;
	font-size:12px;
	font-weight: 900;

	top: 90px;
   margin-top: -90px;
	height: 90px;
	z-index:1;
	border: 1px solid #203154;
	border-top: 8px solid #203154;
	text-align:center;
}

